{% extends 'base.html'%}  {% block styles%} {{ super() }}
<!--super() function tells Jinja not to override any code that is defined in the block-->
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %} {% block content %}
<div class="container-fluid" style="background-color: red;" >
    <div class="container" >
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <h1 style="text-align:center; font-size:100px;">WHOOOPS IVOTE CANNOT FIND THIS PAGE!!!!!!!</h1>
    <br><br><br> 
    <br><br><br> 
    <br><br><br> 
    <br><br><br>
    <br><br><br> 
    <br><br><br>
    <br><br><br>
    </div>
</div>
{% endblock %}