{% extends 'base.html'%} {% block styles%} {{ super() }}
<!--super() function tells Jinja not to override any code that is defined in the block-->
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %} {% block content %}

<div class="container-fluid">
    <div class="row" style="background-color:black; color:white;">

        <div class="col-md-4">
            <div class=" card ">
                <img src="/static/photos/uhuru.jpg " alt="Uhuru " style="width:94%;">
                <h1>Uhuru Kenyatta</h1>
                <p class="title ">Politician, businessman, and the fourth and current President of the Republic of Kenya</p>

                <a href="# "><i class="fa fa-dribbble "></i></a>
                <a href="# "><i class="fa fa-twitter "></i></a>
                <a href="# "><i class="fa fa-linkedin "></i></a>
                <a href="# "><i class="fa fa-facebook "></i></a>
                <input type="radio" id="hb" name="hb" value="Michelle">Uhuru Kenyatta<br>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <img src="/static/photos/raila.jpg " alt="Raila " style="width:84%;">
                <h1>Raila Odinga</h1>
                <p class="title ">Politician who served as the Prime Minister of Kenya from 2008 to 2013 and Leader of the Opposition since 2013.</p>
                <a href="# "><i class="fa fa-dribbble "></i></a>
                <a href="# "><i class="fa fa-twitter "></i></a>
                <a href="# "><i class="fa fa-linkedin "></i></a>
                <a href="# "><i class="fa fa-facebook "></i></a>
                <input type="radio" id="hb" name="hb" value="Michelle">Raila Odinga<br>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <img src="/static/photos/dida.jpg " alt="John " style="width:94%;">
                <h1>Mohammed Abduba Dida</h1>
                <p class="title ">Teacher who vied for the country's presidency in the 2013 General Election on an Alliance of Real Change party ticket.</p>
                <a href="# "><i class="fa fa-dribbble "></i></a>
                <a href="# "><i class="fa fa-twitter "></i></a>
                <a href="# "><i class="fa fa-linkedin "></i></a>
                <a href="# "><i class="fa fa-facebook "></i></a>
                <input type="radio" id="hb" name="hb" value="Michelle">Mohammed Adbuba Dida<br>
            </div>
        </div>
        <a href="{{url_for('main.gover')}}" class="btn btn-primary -center">SUBMIT</a>



    </div>
</div>
{% endblock %}


